
.navbar {
    height: 3.9rem;
    opacity: 1;
    padding: 0;
    background: linear-gradient(to top, rgb(15, 12, 59), rgba(3, 41, 90, 0.685),  rgb(27, 17, 73));
    z-index: 1;
    box-shadow: 0 8px 15px 0 rgba(93, 119, 207, 0.644);
  }
  .navbar-brand {
    font-size: 1.9rem !important;
    color: #ffffff !important;
  }
  .logo{
    height:40px;
    margin:-5px 10px 0 0px;
    border-radius: 50%;
  }
  .logo-subtitle{
    font-size: small;
  }
  .navbar a {
    font-size: 1.3rem;
    text-transform: capitalize;
  }
  .menu_active {
    font-weight: bold;
    border-bottom: 1.5px solid red;
  }
  .navbar a:hover {
    color: aqua !important;
  }
  
  